<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<body>
  <h2>게시글 작성</h2><br/>
  <form method="post" action="/boards/register">
      제목 : <textarea name="title" rows="1" cols="80"></textarea><br />
      작성자 : <input type="text" name="writerName" th:value="${login}" readonly/><br />
      본문 : <textarea name="content" rows="10" cols="80"></textarea><br />
      <br />
      <input type="submit" value="확인" /> &nbsp;
      <button type="button" onclick="location.href='/boards'">취소</button>
  </form>
  <div th:if="${not #strings.isEmpty(validInfo)}">
      <br><hr><p style="color: red" th:text="${validInfo}"></p>
  </div>
</body>
</html>
